<%- include("../partials/header.ejs") %>
    <h1 class="text-3xl text-black pb-6">HOSTEL ANNOUNCEMENTS</h1>
    <div class="mt-6">
        <a class="px-4 py-1 text-white font-light tracking-wider bg-gray-900 rounded" href="/admin/announcements/add">Add Announcements</a>

    </div>
    <div class="w-auto mt-6 overflow-auto">
        <div class="bg-white">

            <table class="min-w-full bg-white">
                <thead class="bg-gray-800 text-white">
                    <tr>
                        <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Index</th>
                        <th class="text-left py-3 px-4 uppercase font-semibold text-sm">Title</th>
                        <th class=" text-left py-3 px-4 uppercase font-semibold text-sm">Link</th>
                        <th class=" text-left py-3 px-4 uppercase font-semibold text-sm">Category</th>
                        <th class=" text-left py-3 px-4 uppercase font-semibold text-sm">Edit</th>
                        <th class=" text-left py-3 px-4 uppercase font-semibold text-sm">Delete</th>
                    </tr>
                </thead>
                <tbody>
                    <% announcementsList.forEach((row,index)=> { %>
                        <tr>
                            <td class="text-left py-3 px-4">
                                <%= index+1 %>
                            </td>
                            <td class="text-left py-3 px-4">
                                <%= row.title %>
                            </td>
                            <td class="text-left py-3 px-4"><a class="text-red-600 hover:text-blue-500 "
                                    href="<%= row.link %>">Link..</a></td>
                            <td class="text-left py-3 px-4">
                                <%= row.category %>
                            </td>

                            <td class="text-left py-3 px-4"><a class="hover:text-blue-500"
                                    href="/admin/announcements/<%= row._id %> ">Edit</a></td>

                            <td class="text-left py-3 px-4"><a class="hover:text-blue-500"
                                    href="announcements/delete/<%= row._id %> ">Delete</a></td>

                        </tr>
                        <% }) %>
                </tbody>
            </table>
        </div>
    </div>
    <%- include("../partials/footer.ejs") %>